:host{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.page{
    width: 100%
}

aside.menu {
    padding: 1rem;
    width: 15rem;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: white;
}

aside.menu .menu-label{
    display: flex;
    justify-content: space-between;
}

.navbar-burger{
    position: absolute;
    top:0;
    left:0;
}

app-resource-page + a.navbar-burger span {
    color: white;
}


@media screen and (min-width: 1024px)
{
    .navbar-burger
    {
        display: block;
    }
}