
<aside class="menu" *ngIf="isMenuVisible" (click)="showMenu(false)">
  <p class="menu-label">
    <span>
        Configurações
    </span>

    <a class="delete" (click)="showMenu(false)"></a>
  </p>
  <ul class="menu-list">
    <li *ngFor='let link of links'>
      <a [routerLink]='"/" + link.path'> {{link.data.name}} </a>
    </li>
  </ul>
</aside>


<div class="page">
  
  <router-outlet></router-outlet>
  
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="showMenu(true)" *ngIf="!isMenuVisible">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
  </a>
</div>
